page-consume {
  .couponStoreHeaderBox{padding:20px 25px;background: #f4f6f9;
    img{margin-right: 10px;width:20%;height:auto;}
    .cardInforBox{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;overflow: hidden;
      .storeName{color:#363738;font-size: 1.7rem;}
      .storeAddress{color: #797a7c;font-size: 1.5rem;margin-top: 6px;}
    }
  }
  .paymentNumberBox{padding:50px 20px;
    span{display: inline-block;width:60px;font-size:1.8rem;text-align: right;margin-right: 15px;}
    input{border:1px solid #d2d2d2;height:40px;width:65%;padding:10px 15px;line-height: 20px;font-size:1.6rem;}
  }
  .surePaymentBtn{padding:10px 40px;}
}
