page-set-password {
.setPasswordContent{
  p{font-size:1.4rem;padding:0 15px;color:#333333;}
  .loginListBox{background: #fff;border-bottom:0 none;height:50px;padding:5px 20px;}
  .setPasswordBtn{padding:10px 15px;}
}
}
