page-transfer-card {
  .setTransferCardInfor{padding:10px 40px;
    .transferListBox{
      height:60px;padding:10px 20px;line-height: 40px;border-bottom:1px solid #ccc;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;
      .transferInput{
        -webkit-box-flex: 1;-webkit-flex: 1;flex: 1;border:0 none;width:50px; font-size: 1.6rem;
      }
      .labelItem{
        margin-right:10px;color:#050505;
      }
      .getCodeBox{
        color:#fff;padding:0 10px;height:35px;line-height:35px;text-align: center;background: #e5e5e5;margin-left: 10px;border-radius: 3px;
      }
      .getCodeBox.codeStyleBtn{background: #588ac9;}
      .countTime{width:80px;text-align: right;display: inline-block;color:#d1d2d2;}
      ion-icon{font-size:1.6em;color:#919191;padding: 10px;}
    }
    .sureTransferBtn{margin:80px 0;background: #e5e5e5;}
    .sureTransferBtn.transferSubmitBtn{background: #588ac9;}
  }
  @media screen and (max-width: 320px) {
    .setTransferCardInfor{padding:10px 20px;}
  }

}
